###############################
# configuration for all scripts
###############################
# Fluo Home
test -z "$FLUO_HOME" && FLUO_HOME=/path/to/accumulo
# Fluo connection properties
FLUO_CONN=$FLUO_HOME/conf/fluo-conn.properties
# Fluo application name
FLUO_APP_NAME=stresso
# Set this to avoid Hadoop's old version of guava.  This will make Hadoop's
# yarn command use a classloader when running code.  This classloader isolates
# stresso runtime code from Hadoop's depedencies.
export HADOOP_USE_CLIENT_CLASSLOADER=true

###############################
# configuration for run-test.sh
###############################
# Place where logs from test are placed
LOG_DIR=$BIN_DIR/../logs
# Maximum number to generate
MAX=$((10**9))
#the number of splits to create in table
SPLITS=17
# Number of mappers to run for data generation, which determines how many files
# generation outputs.  The number of files determines how many mappers loading
# data will run.
MAPS=17
# Number of reduce tasks
REDUCES=17
# Number of random numbers to generate initially
GEN_INIT=$((10**6))
# Number of random numbers to generate for each incremental step.
GEN_INCR=$((10**3))
# Number of incremental steps.
ITERATIONS=3
# Seconds to sleep between incremental steps.
SLEEP=30
# Compact levels with less than the following possible nodes after loads
COMPACT_CUTOFF=$((256**3 + 1))
# The fluo wait command is executed after this many incremental load steps.
WAIT_PERIOD=10
# To run map reduce jobs, a shaded jar is built. The following properties
# determine what versions of Fluo and Accumulo client libs end up in the shaded
# jar.
FLUO_VERSION=$($FLUO_HOME/bin/fluo version)
ACCUMULO_VERSION=$(accumulo version)

# The following Accumulo table properties will be set
read -r -d '' TABLE_PROPS << EOM
table.compaction.major.ratio=1.5
table.file.compress.blocksize=8K
table.file.compress.blocksize.index=32K
table.file.compress.type=snappy
EOM
